* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(255, 205, 240);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1#message { 
    text-align: center;
}

button#playAgain {
    width: 70%;
    height: 50px;
    font-size: x-large;
}